/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
/* 桌機-螢幕解析度的寬度 > 1200 像素 */
body {
	line-height: 1;
    font-family: "Noto Sans TC",Verdana, Geneva, Tahoma, sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    color:#333;
    font-size: 20px;
}

.wrapper{
    max-width: 100%;
}

.m_my_nav{
    display:none;
}

.my_nav{
    /* max-width:1200px; */
    /* display: flex;
    justify-content: space-between; */
    padding:15px 0;
    margin:0 auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index:9999;
    background-color:#fff;
    opacity: .8;
}

.nav_box{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin:0 auto;
}

.item_wp a{
    display: inline-block;
    padding:10px 10px;
    text-decoration: none;
    color:#333;
    font-size: 16px;
}

.item_wp .item_func a{
    padding:10px 0;
}

.item_wp a:hover{
    text-decoration: underline;
}

.my_home{
    padding-bottom: 30px;
}

.welcome{
    background-image:linear-gradient(135deg, #AADDEE 0%, #66AABB 100%);
    height: 330px;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    position: relative;
    margin:66px 0 0 0;
}

/* .tpi_search{
    margin-left:40px;
} */

.welcome h3{
    font-size: 28px;
    color: #F8F8F8;
}
.welcome p{
    font-size: 16px;
    color:#F8F8F8;
    padding:20px 0;
}

.my_box{
    max-width: 1200px;
    margin: 0px auto;
    /* display: flex;
    justify-content:space-between;
    flex-wrap: wrap; */
    /* outline:1px solid #f00; */
}

.box{
    text-decoration: none;
    display:inline-block;
    margin:0 14px;
}

.box_item{
    width:270px;
    height: auto;
    margin:10px 0px;
    border:1px solid #E8E8E8;
    border-radius: 5px;
}

.box_item img{
    vertical-align: bottom;
    width:100%;
    height: 210px;
}

.box_item .point{
    display:flex;
    justify-content: space-between;
    padding:20px;
}

.box_item .tpi_view{
    font-weight: 700;
    padding: 20px;
    color:#333;
}

.my_website .tpi_title{
    font-weight: 700;
    font-size: 30px;
    color:#448899;
}

.tpi_find{
    position: absolute;
    background-color: #448899;
    border:0;
    width: 60px;
    height: 46px;
    border-radius:0px 15px 15px 0;
}

.tpi_find:hover{
    background-color: #0b6a81;
}

.tpi_search{
    position: relative;
    z-index: 999;
}

.site_name,.site_class{
    font-size: 16px;
    color:#757575;
}



.search_con{
    width: 400px;
    height: 46px;
    border:0;
    font-size:16px;
    font-weight: 700;
    padding:0px 0px 0px 15px;
    border-radius: 15px 0 0 15px;
    letter-spacing: 1px;
}

.temple{
    position: absolute;
    right:0;
    bottom:0;
}

.temple img{
    vertical-align: bottom;
} 

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #757575;
    height: 104px;
    margin-top: 30px;
}

.copyright{
   
    font-weight: 700;
    color:#fff;
    font-size: 16px;
    line-height: 13px;
}

.banner_frame{
    width: 1200px;
    margin: 0 auto;
    /* outline:1px solid #f00; */
}
/* attraction頁面 */

.wp_top{
    width:100%;
    height: auto;
    border-bottom: 1px solid #E8E8E8;
    position: fixed;
    top:0px;
    z-index: 9999;
    background-color: #fff;
}

.page_top{
    max-width: 1200px;
    margin:0 auto;
    display: flex;
    padding: 15px;
    justify-content: space-between;
    /* outline: 1px solid #f00; */
}

.view_con{
    max-width: 1200px;
    margin: 110px auto 0px;
    position: relative;
}

.rel_box{
    display:flex;
    flex-direction: row-reverse;/*詭異*/
}

.rel_img{
    position: relative;
    width: 540px;
    height: 406px;
    
}

.rel_img a{
    display: block;
    width: 36px;
    height: 36px;
    text-decoration: none;
    opacity: .7;
}

.rel_img img{
    width:100%;
    height: auto;
    vertical-align: bottom;
}

.nodata{
    text-align: center;
}

.attr_box{
    padding:5px 20px;
    line-height: 40px;
}
.tpi_view{
    font-size: 24px;
    font-weight: 700;
    color:#666;
}
.order_box{
    width:580px;
    height: 260px;
    height: auto;
    background-color: #E8E8E8;
    border-radius: 5px;
    padding:15px 30px;
    color:#666;
    margin:15px 0;
}

.order_text{
    font-weight: 700;
    color:#666;
}

.order_this{
    border:0;
    padding:0;
    margin:0;
    background-color: #448899;
    border-radius: 5px;
    padding:10px 20px;
    font-size: 19px;
    line-height: 16px;
    font-weight: 400;
    color:#fff;
    margin-top:10px;
}

.view_dec_box{
    max-width: 1200px;
    margin:30px auto;
    border-top:1px solid #E8E8E8;
    color:#666;
    padding:50px 15px;
}
.view_dec{
    line-height: 1.6;
}

.view_space{
    padding:30px 0 15px 0;
}

.pic_left,.pic_right{
    display: block;
    width: 36px;
    height: 36px;
    background-color:#fff;
    opacity: .8;
    z-index: 9999;
    border-radius: 50%;
    color:#666;
    font-size: 26px;
    font-weight: 900;
}

.rel_img a:hover{
    opacity: .5;
}

.pic_left{
    position: absolute;
    left:15px;
    top:auto;
    bottom:50%;
    right:auto;
    margin:0 auto;
    text-align: center;
    line-height: 36px;
}

.pic_right{
    position: absolute;
    left:auto;
    top:auto;
    bottom:50%;
    right:15px;
    margin:0 auto;
    text-align: center;
    line-height: 36px;
}

.dot_box{
    position: absolute;
    bottom:0;
    top:87%;
    left:20%;
    right:20%;
    margin:auto;
    text-align: center;
}

.dot{
    cursor: pointer;
    width: 12px;
    height: 12px;   
    background-color:#fff;
    opacity: .8;
    border-radius:50%;
    margin:0 10px;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    border:1px solid #fff;
    background-color:#000;
  }

.pic_rel img{
    width:100%;
    height: 406px;
}

.order_day{
    position: relative;
    /* outline: 1px solid #f00; */
    padding-left: 30px;
}

.order_day .one,.order_day .two{
    opacity: 0;
    display: none;
    z-index: 999;
}

.order_day .one:checked ~ .checkmark,.order_day .two:checked ~ .checkmark{
    background-color: #448899;
    height: 15px;
    width: 15px;
    border: 3px solid #fff;
}

.order_day .one:checked ~ .checkmark::before,.order_day .two:checked ~ .checkmark::before{
    display:block;
}

.checkmark::before{
    content: "";
    position:absolute;
    display: none;
}

.checkmark{
  position: absolute;
  top:6px;
  left:6px;
  height: 18px;
  width: 18px;
  background-color: #fff;
  border-radius: 50%;
}





/* attraction頁面 */

/* 平板-600 像素 < 螢幕解析度的寬度 <= 1200 像素 */
@media (max-width:1200px) {
    .my_box{
    max-width:1200px;
    margin:0 auto;
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    }
    .nav_box,.tpi_search{
        margin:0 30px;
       
    }
    .my_home{
        display: flex;
    }

  .my_nav{
    width:100%;
  }  
  
   .banner_frame{
       display: block;
   }
   .welcome {
    background-image: linear-gradient(135deg, #AADDEE 0%, #66AABB 100%);
    height: 280px;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    position: relative;
    overflow-x: hidden;
}

.temple{
    position:absolute;
    right:-80px;
    bottom:0;
    width:60%;
    height: auto;
}
.temple img{
    width:100%;
    height: auto;
    vertical-align: bottom;
}
.box_item{
    margin: 10px;
}
/* attraction頁面 */
.rel_box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;/*怪*/
}

.rel_img{
    position: relative;
    width:100%;
    height: auto;
}

.dot_box {
    position: absolute;
    bottom:0;
    top:90%;
    left:20%;
    right:20%;
    margin:auto;
    text-align: center;
}

.dot{
    cursor: pointer;
    width: 12px;
    height: 12px;   
    background-color:#fff;
    opacity: .8;
    border-radius:50%;
    margin:0 10px;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    border:1px solid #fff;
    background-color:#000;
  }

.order_box{
    width:92%;
    height: auto;
}

input[type="date"]{
    width:193px;
    height: 35px;
}

.wp_top{
    margin: 0;
    position: fixed;
    z-index: 99999;
    background-color: #fff;
    top:0;
}

.info_box{
    margin:20px 20px 0 20px;
}

/* attraction頁面 */


}

/* 手機-：螢幕解析度的寬度 <= 600 像素 */
@media (max-width:600px) {
    a{
        color:#666;
        text-decoration: none;
    }
    .my_nav{
        display: none;
    }
    .m_my_nav{
        display: block;
        width:100%;
        position: fixed;
        top:0;
        z-index: 9999;
        height: auto;
        background-color:#fff;
    }
    .m_item_wp{
        display: flex;
        justify-content: flex-end;
        /* width:50%; */
        height: auto;
        padding:15px;
        font-size: 16px;
    }
    .m_item_wp span{
        display: inline-block;
    }
    .m_item_wp .item a{
        margin-right:10px;
    }
    .box_item{
        width: 270px;
        height: auto;
    }
    .m_my_website{
        display: flex;
        align-items: center;
        padding:10px;
    }
    .m_my_website h1{
        font-size: 30px;
        font-weight: 700;
        color:#448899;
    }
    .search_con{
        width: 70%;
        height: 46px;
        border:0;
        font-size:16px;
        font-weight: 700;
        border-radius: 15px 0 0 15px;
        letter-spacing: 1px;
    }
    .temple{
        position:absolute;
        right:-80px;
        bottom:0;
        width:90%;
        height: auto;
    }
    .temple img{
        width:100%;
        height: auto;
        vertical-align: bottom;
    }
    .welcome {
        background-image: linear-gradient(135deg, #AADDEE 0%, #66AABB 100%);
        height: 280px;
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: center;
        position: relative;
        overflow-x: hidden;
    }
    .welcome p{
        letter-spacing: 2px;
    }
    .my_box{
        flex-wrap: wrap;
        justify-content: center;
    }
    .m_nav_box{
        display: flex;
        justify-content: space-between;
        padding:6px;
    }
    .banner_frame{
        width:92%;
        padding:6px;
    }
    .my_home{
        display: block;
    }
    /* attraction page */
    .wp_top{
        width:100%;
        /* display: flex;
        justify-content: center;
        flex-direction: column; */
        border-bottom: 1px solid #E8E8E8;
    }
    .view_con{
        max-width:none;
        margin:0;
        width: 100%;
        display:flex;
        margin-top: 100px;
    }
    .page_top{
        max-width:none;
        display: flex;
        justify-content: space-between;
        /* border-bottom: 1px solid #E8E8E8; */
        /* margin:0;
        margin-bottom:40px; */
        /* outline: 1px solid  #f00; */
        
    }
    .my_website h1{
        display:block;
        font-size: 30px;
        font-weight: 700;
        color: #448899;
    }

    .rel_box{
        position:relative;
        display: flex;
        flex-direction: column-reverse/*超怪*/;
    }

    .rel_img{
        width:100%;
        height: auto;
        display: flex;
        position: relative;
    }



    .pic_left{
        position: absolute;
        left: 15px;
        top: auto;
        bottom: 50%;
        right: auto;
        margin: 0 auto;
        text-align: center;
        line-height: 36px;
    }

    .pic_right{
        position: absolute;
        left: auto;
        top: auto;
        bottom: 50%;
        right: 15px;
        margin: 0 auto;
        text-align: center;
        line-height: 36px;
    }

    .attr_box{
        padding:0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width:100%;
        max-width:600px;
        line-height: 30px;
        /* outline: 1px solid #f00; */
    }

    .info_box{
        flex:none;
        margin:20px 20px 0 20px;
        /* display: flex;
        flex-direction: column; */
    }

    .order_box{
        flex:none;
        /* display: flex; */
        padding:0;
        flex-direction:row;
        width:0;
        height: 0;
        width: 84%;
        margin:20px auto;
        height: auto;
        background-color: #E8E8E8;
        /* flex-wrap:wrap; */
        padding:15px;
        font-size: 16px;
        line-height: 1.6;
    }

    input#order_date{
        width:60%;
        min-height:35px;
    }

    /* input#first_half_day,input#sec_half_day{
       align-self: center;
    } */

    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }

    .container input:checked ~ .checkmark:after {
        display: block;
      }
      
    .order_day{
        position: relative;
    }
    .order_day input[type="radio"]{
        position: relative;
        opacity: 8;
        cursor: pointer;
        outline: none;
    }
   
   

   

    .m_footer{
        width:100%;
        min-height: 104px;
    }

    .this_view{
        font-size: 16px;
    }

    .order_text{
        font-weight: bold;
    }

    .order_slogn{
        padding:15px 0;
    }
    .m_span{
        line-height: 40px;
    }

    .view_dec_box{
        font-size: 16px;
    }

    .dot_box{
        position: absolute;
        bottom:0;
        top:87%;
        left:0%;
        right:0%;
        margin:auto;
        text-align: center;
    }

    .dot{
        cursor: pointer;
        width: 12px;
        height: 12px;   
        background-color:#fff;
        opacity: .8;
        border-radius:50%;
        margin:0 10px;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .active, .dot:hover {
        border:1px solid #fff;
        background-color:#000;
      }


    /* html,body{
        width:100%;
    } */
    
     /* attraction page */
}