<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css')}}">
    <title>attraction</title>
</head>
<body>
     <!-- 會員登入\註冊 -->
     <div class="member_wrap" id="login_wrap" style="display:none;">
        <div class="person_signin_box">
            <div class="signin_frame">
                <!-- 登入會員帳號 -->
                
                    <div class="signin_close">
                        <a href="javascript:;" id="login_close">
                            <img src="{{ url_for('static',filename='images/icon_close.png')}}" alt="關閉">
                        </a>
                    </div>
                    <div class="signin_words">
                        <h3>登入會員帳號</h3>
                    </div>
                    <input type="text" placeholder="輸入電子信箱" name="email" class="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                    <input type="password" placeholder="輸入密碼" name="psw" class="psw">
                    <p class="alert" id="loginFail" style="display:none;">登入失敗</p>
                    <div class="sign_btn_box" id="signBtnBox">
                        <button type="submit" class="signupbtn">登入帳戶</button>
                    </div>
                    <p class="signin_notice">還沒有帳戶?點此<span><a href="javascript:;" title="註冊" id="reg">註冊</a></span></p>
                    <p id="reg_success" style="display:none;color:rgb(44, 120, 21);padding:15px;">恭喜登入成功</p>
                    <p id="reg_fail" style="display:none;color:#f00;padding:15px;">登入失敗</p>
                <!-- 登入會員帳號 -->
            </div>
        </div>
    </div>
        <!-- 註冊會員帳號 -->
    <div class="member_wrap" id="reg_wrap" style="display:none;">
        <div class="person_reg_box">
            <div class="signin_frame">
               
                    <div class="signin_close">
                        <a href="javascript:;" id="reg_close">
                            <img src="{{ url_for('static',filename='images/icon_close.png')}}" alt="關閉">
                        </a>
                    </div>
                    <div class="signin_words">
                        <h3>註冊會員帳號</h3>
                    </div>
                    <input type="text" placeholder="輸入姓名" name="name" class="email">
                    <input type="text" placeholder="輸入電子信箱" name="email" class="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                    <input type="password" placeholder="輸入密碼" name="psw" class="psw">
                    <p class="alert" id="regFail" style="display:none;">註冊失敗</p>
                    <div class="sign_btn_box" id="sign_btn_box">
                        <button type="submit" class="reg_btn">登入帳戶</button>
                    </div>
                    <p class="signin_notice">已經有帳戶了?點此<span><a href="javascript:;" title="登入" id="log">登入</a></span></p>
                    <p id="in_success" style="display:none;color:rgb(44, 120, 21);padding:15px;">恭喜註冊成功</p>
                    <p id="in_fail" style="display:none;color:#f00;padding:15px;">註冊失敗</p>
            </div>
        </div>
        <!-- 註冊會員帳號 -->
    </div>
    <!-- 會員登入\註冊 -->
     
    <div class="wp_top">
        <!-- 桌機選單 開始-->
        <nav class="page_top">
            <div class="my_website">
                <h1 class="tpi_title"><a href="{{url_for('index')}}">台北一日遊</a></h1>
            </div>
            <div class="item_wp">
                <span class="item" id="GETit" style="display:none;"><a href="javascript:;">會員專區</a></span>
                <span class="item"><a href="javascript:;">預定行程</a></span>
                <span class="item_func"><a href="javascript:;" id="mebLogin">登入</a>&nbsp;&#47;<a href="javascript:;" id="menbRegister">註冊</a></span>
                <span class="item" id="out" style="display:none;"><a href="javascript:;">會員登出</a></span>
            </div>
        </nav>
    </div>
        <!-- 桌機選單 結束-->

        <!-- 手機選單 開始-->

        <!-- 手機選單 結束-->    

    <!-- 桌機版 -->
    <section class="view_con" id="view_con">
        <div class="rel_box">
            <div class="rel_img" id="rel_img">
                <!-- <a href="#"><div class="pic_left"><</div></a>
                <a href="#"><div class="pic_right">></div></a>
                <img src= alt=""> -->
                <a href="#" class="pic_left"><div style="cursor:point;" onclick="plusSlides(-1)"><</div></a>
                <a href="#" class="pic_right"><div style="cursor:point;" onclick="plusSlides(1)">></div></a>
                 <div class="pic_rel">
                    <!-- <div class="pic_item"><img src="https://www.travel.taipei/d_upload_ttn/sceneadmin/pic/11000848.jpg"></div>
                    <div class="pic_item"><img src="https://www.travel.taipei/d_upload_ttn/sceneadmin/pic/11002891.jpg"></div>
                    <div class="pic_item"><img src="https://www.travel.taipei/d_upload_ttn/sceneadmin/image/a0/b0/c0/d315/e70/f65/1e0951fb-069f-4b13-b5ca-2d09df1d3d90.jpg"></div> -->
                </div>
                 <div class="dot_box">
                    <!-- <span class="dot" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                    <span class="dot" onclick="currentSlide(3)"></span> -->
                     <!-- 輪播球 -->
                    <!-- 
                    <span class="dot"></span>
                    <span class="dot"></span> -->
                </div>
               
            </div>
            <div class="attr_box">
                <div class="info_box"><h2 class="tpi_view" id="tpi_view"></h2>
                    <p class="this_view"><span id="cat">
                        
                    </span> at <span id="mrt"></span></p></div>
                
                <div class="order_box">
                    <p class="order_text">訂購導覽行程</p>
                    <p class="order_slogn">以此景點為中心的一日行程，帶您探索城市角落故事</p>
                    <!-- <form action=""> -->
                        <label for="order_date" class="order_text m_span">選擇日期：</label>
                        <input type="date" id="order_date" name="order_date"><br>
                       
                       
                        <label class="order_text m_span">選擇時間：</label>
                        
                        <label for="first_half_day" class="order_day">上半天
                            <input type="radio" name="selected" class="one" id="first_half_day" value="新台幣2000元" onclick="selectFee()" checked>
                            <span class="checkmark"></span>
                        </label>
                        
                        <label for="sec_half_day" class="order_day">下半天
                            <input type="radio" name="selected" class="two" id="sec_half_day" value="新台幣2500元" onclick="selectFee()">
                            <span class="checkmark"></span>
                        </label>
                      <br>
                       <label for="fee" class="order_text m_span">導覽費用：</label>
                       <label name="order_date" id="show_fee"></label><br>
                       <input type="submit" value="開始預訂行程" class="order_this">
                    <!-- </form> -->
                </div>
            </div>
        </div>
    </section>
    <!-- 桌機版 -->

    
    <section class="view_dec_box" id="view_dec_box">
        <div class="view_box">
            <p class="view_dec" id="atr_con"></p>
            <h3 class="order_text view_space">景點地址：</h3>
            <p class="view_dec" id="atr_address"></p>
            <h3 class="order_text view_space">交通方式：</h3>
            <p class="view_dec" id="atr_traffic"></p>
        </div>
        
    </section>
    

     <!-- footer start -->
     <footer id="footer" class="m_footer">
        <p class="copyright">
            COPYRIGHT © 2022 台北一日遊
        </p>
    </footer>

     <!-- footer end-->
    <script src="{{url_for('static',filename='js/attraction.js')}}"></script>
    <script src="{{url_for('static',filename='js/member.js')}}"></script>
</body>
</html>